.bt-content-shop-news{
    padding: 60px 0;
    .bt-main-shop-news{
        .bt-row-product{
            width: 100%;
            height: auto;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .product-item{
                margin-bottom: 30px;
                padding: 0 15px;
                position: relative;
                text-align: center;
                width: calc(100% / 3);
                .bt-content-product-item{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    .woocommerce-loop-product__title{
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0.16px;
                        color: #333;
                    }
                }
            }
        }
    }
}
